.projects-body {
    background-color: #1c1c1c;
    background-image: url('https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-header {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 35px;
    color: #f2f2f2;
}

.projects-container {
    border: 1px solid none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-one, .project-two, .project-three {
    display: flex;
    justify-content: space-between;
    border: 1px solid none;
    width: 900px;
    height: 350px;
    margin-bottom: 100px;
    color: #f2f2f2;
}

.name-and-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 330px;
    border: 1px solid none;
    height: 350px;
}

.e-commerce-image {
    background-image: url('https://github.com/youngchang8660/portfolio-site/blob/master/Image%205-18-20%20at%2010.26%20PM.jpeg?raw=true');
    width: 670px;
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ramen-image {
    background-image: url('https://github.com/youngchang8660/portfolio-site/blob/master/src/Image%205-18-20%20at%2010.29%20PM.jpeg?raw=true');
    width: 670px;
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.real-estate-image {
    background-image: url('https://github.com/youngchang8660/portfolio-site/blob/master/src/Image%205-18-20%20at%2010.31%20PM.jpeg?raw=true');
    width: 670px;
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.website-and-github {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.github-icon {
    background-image: url('https://www.flaticon.com/premium-icon/icons/svg/536/536452.svg');
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
    margin-left: 20px;
}

.github-icon:hover {
    opacity: 1;
    transition: 0.5s;
}

.website-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #00b7c8;
    font-weight: 700;
    border: 2px solid #00b7c8;
    width: 150px;
    height: 35px;
}

.website-link:hover {
    background-color: #00b7c8;
    color: white;
    transition: 0.5s;
    font-weight: 700;
}

.project-description {
    width: 200px;
    font-weight: 600;
    line-height: 25px;

}

@media (max-width: 900px) {
    .projects-body {
        margin-top: -300px;
    }
    .project-one, .project-two, .project-three {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid none;
        width: 900px;
        height: 650px;
        margin-bottom: 100px;
        color: #f2f2f2;
    }
}

@media (max-width: 647px) {
    .projects-header {
        margin-top: 300px;
    }
    .project-one, .project-two, .project-three {
        width: 100%;
        height: 500px;
    }
    .e-commerce-image, .ramen-image, .real-estate-image {
        width: 90%;
        height: 500px;
    }
}